:root {
  --table-height:35px;
}
 h2{
 	margin: 20px 0;
 	text-align: center;
 }
.canvas-block{
	justify-content: center;
	display: flex;
	margin-bottom: 20px;
	flex-wrap: wrap-reverse;
}
.canvas-block-units-table{
	font-size: 18px;
	width: 400px;

	border-collapse: collapse
}
.canvas-block-units-table tr{
	

	border-bottom-style: solid;
	border-bottom-color: black;
	height:var(--table-height);

}
.canvas-block-units-unit{

	padding-left: 10px;

}
.canvas-block-units-img{
	padding-right: 10px;
	float: right;
	height: calc(var(--table-height)*2/3);

}
.canvas-block-units-img:hover{
	cursor: pointer;
	transform: scale(1.1);
}

.canvas-block-form{
	display: block;
	width:400px;
	padding: 0 40px;

}
.canvas-block-form-input{
	font-size: 18px;
	padding-left: 10px;
	border-color: black;
	border: solid;
	border-width: 1px;
	border-radius: 4px;
	height: 40px;
	width: 100%;
	margin-bottom: 10px;
}
.canvas-block-form-button{
	height: 30px;
	width: 120px;
	border: 2px solid #0091ff;
	border-radius: 4px;
	float: right;
}

.cabinet_box{
	width: 20%;
}
