.select2-selection--single{
	border-color: black !important;
}
.select2-selection__rendered{
	color: black !important;
}


.select2-selection__rendered {
    line-height: 39px !important;
}
.select2-container .select2-selection--single {
    height: 40px !important;
}
.select2-selection__arrow {
    height: 39px !important;
}

.select2-search{
	height: 40px !important;
}
.select2-search__field{
	height: 35px !important;
	font-size: 18px !important;
}
.select2-results__option{
	box-sizing: border-box !important;
	font-size: 18px !important
}

.select2{
	width:100% !important;
}
.table_list{
	background: #f3f3f3;
}
