/*Вкладка группы----------------------*/
h3{
	text-align: center;
}

.canvas-stats_group_list{
	display:grid;
	grid-template-columns:10fr 1fr 1fr;
}

.canvas-stats_group_list-unit{
	
}

.canvas-nav_stats{
	display:flex;
	justify-content: space-around;
}

.canvas-nav_stats-unit{
	text-transform: uppercase;
	font-size: 18px;
}

.canvas-nav_stats-unit-s{
	font-weight: bold;
}

.canvas-statsadd{
	display:grid;
	grid-template-columns: 1fr 1fr;
}

.exist-groups,.linked-groups{
	flex-grow: 1;
	padding:0 20px;
}

.exist-groups-unit,.linked-groups-unit{
	padding: 10px 0;
	font-size:20px;
	display: grid;
	grid-template-columns:3fr 1fr;
}





.link_button,.delete_link_button{
	display:flex;
	align-items:center;
	justify-content: center;
	font-size:0.9em;
}

.link_button,.delete_link_button:hover{
	cursor:pointer;
	font-weight:500;
	transition: .3s;
}

/*----------------------*/