/*Вкладка группы----------------------*/
h3{
	text-align: center;
}


.canvas-stats_group_list{
	padding:20px 0;
}

.canvas-stats_group_list-unit, .canvas-stats_group_list-title{

	display:grid;
	grid-template-columns:4fr 1.5fr 1fr 1fr;
	padding:10px;
	font-size: 18px;


}

.canvas-stats_group_list-title > *{
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:16px;
	font-weight: 500;
}

.planed-hours,.past-hours,.persent{
	display:flex;
	justify-content:center;
	margin:0 auto;
	font-size:16px;
	text-align:center;
	width:50%;

}

.canvas-nav_stats{
	display:flex;
	justify-content: space-around;
}

.canvas-nav_stats-unit{
	text-transform: uppercase;
	font-size: 18px;
}

.canvas-nav_stats-unit-s{
	font-weight: bold;
}

.canvas-statsadd{
	margin-top: 10px;
	display:grid;
	grid-template-columns: 1fr 1fr;
	border-collapse:collapse;
}

.exist-groups{
	border-right: 1px solid black;
}

.exist-groups,.linked-groups{
	padding:0 20px;
}

.exist-groups-unit,.linked-groups-unit{
	padding: 10px 0;
	font-size:20px;
	display: grid;
	grid-template-columns:3fr 1fr;
}





.link_button,.delete_link_button{
	display:flex;
	align-items:center;
	justify-content: center;
	font-size:0.9em;
}

.link_button:hover,.delete_link_button:hover{
	cursor:pointer;
	font-weight:500;
	transition: .3s;
}

/*----------------------*/