:root{
	--main-color:#009fdf;
}
body{
	font-family: 'Open Sans', sans-serif;


	background: var(--main-color);
	height: 100%;
	margin: 0;
}
header{
	display: flex;
	height: 60px;
	background: white;


}
main{
	margin-top: 20px;
	display: flex;
	min-height: calc(100% - 60px - 20px);
}
a{
	text-decoration: none;
}



.header-logo{
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 250px;
	font-weight: 600;
}
.header__container{
	display: flex;
	justify-content: end;
	align-items: center;
	flex-shrink: 1;
	flex-grow: 1;
}

.header__container-exit{
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;

	margin-right: 10px;
	width: 100px;
	height: 100%;
}

.header__container-exit:hover{
	background: #DCDCDC;
	cursor: pointer;
}





.menu{
	align-items: center;
	justify-content: flex-start;
	display: flex;
	flex-direction: column;
	min-width: 250px;

}
.menu-navbutton{
	color: black;

	margin-bottom: 10px;
	font-size: 18px;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 70%;
	height: 25px;
	background: #fff;
	border-radius: 5px;
}
.menu-navbutton:hover{
	transform: scale(1.1);
}








.canvas{
	padding: 15px 15px 0px;
	flex-grow: 1;
	background: #fff;
	border-radius: 10px;
	flex-direction: column;
	display: flex;
	margin-bottom: 20px;
	margin-right: 20px;

}
