@media only screen and (max-width: 1600px) {
	main{
		margin: 0 400px;
	}
}
@media only screen and (max-width: 1440px) {
	main{
		margin: 0 300px;
	}

}

@media only screen and (max-width: 1280px) {
	main{
		margin: 0 200px;
	}

}


@media only screen and (max-width: 1024px) {
	main{
		margin: 0 50px;
	}
	.group_table{
		grid-template-columns: 1fr 1fr;
	}
	.group_table-unit{
		height: 100px;
		font-size: 42px;
		font-weight: ;
	}
}

@media only screen and (max-width: 720px) {
	h2{
		font-size: 34px;
	}
	main{
		margin: 0;
	}
	.big_table{
		margin: 0;
	}
	.table{
		margin: 0 5px;
		padding: 0;
		border: none;
	}
	.table-list-title,._title{
		display: none;
	}
	.table-list:nth-child(even){
		background: #ece9e9;
	}
	.table-list:nth-child(odd){
		background: white;
	}
	.table-list{
		border-collapse: collapse;
		grid-template-columns: 1fr 8fr;
	}
	.table-list-info{
		grid-template-columns: 1fr;
		grid-template-rows: 3fr 3fr 3fr;
	}
	.table-list-num,.table-list-lesson,.table-list-teacher,.table-list-class{
	padding: 5px 0;
	
	}
	/*----*/
	.not_found{
		height: 130px;
	}

}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 320px) {
	
}