@media only screen and (max-width: 1600px) {
	.main_view{
		margin: 0 400px;
	}
	.main_page{
		margin: 80px 100px 0;
	}
}
@media only screen and (max-width: 1440px) {
	.main_view{
		margin: 0 300px;
	}
	.main_page{
		margin: 80px 50px 0;
	}

}

@media only screen and (max-width: 1280px) {
	.main_view{
		margin: 0 200px;
	}
	.main_page{
		margin: 50px 180px 0;
		flex-direction: column;
	}
	.group_list{
		margin-top: 100px;
	}
}


@media only screen and (max-width: 1024px) {

	.header_title{
		font-size: 68px;
	}
	.main_view{
		margin: 0 50px;
	}
	.main_page{
		margin: 100px 50px;
	}
	.timetable-row-unit{
		font-size: 38px;

	}
	.main_unit,.timetable{
		width: 100%;
	}
	.group_table{
		grid-template-columns: 1fr 1fr;
	}
	.group_table-unit{
		height: 120px;
		font-size: 48px;

	}
}

@media only screen and (max-width: 720px) {
	h2{
		font-size: 20px;
	}
	
	.main_view{
		margin: 0 5px;
	}
	.main_page{
		margin: 100px 50px;
	}
	
	.timetable{
		max-width: 1920px;
	}

	.header_title{
		font-size: 68px;
	}
	.big_table{
		margin: 0 0 20px 0;
	}
	.table{
		font-size: 14px;
		padding: 0;
		border: none;
	}
	.group_table-unit{
		width: 100%;
	}
	.table-list{
		grid-template-columns: 1fr 1fr 6fr 8fr 4fr;
		border-collapse: collapse;
	}
	.table-list-num,.table-list-lesson,.table-list-teacher,.table-list-class{
		padding: 5px 0;
		font-size: 1em;
	
	}
	/*----*/
	.not_found{
		font-size: 22px;
		height: 60px;
		padding: 0;
	}

}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 320px) {
	
}
@media (hover: hover) and (pointer: fine) {
  .group_table-unit:hover{
	cursor: pointer;
	transform: scale(1.1);
	transition: .2s;
}
