body{
	font-family: 'Open Sans', sans-serif;


	background: #0091ff;
	height: 100%;
	margin: 0;
}
header{
	display: flex;
	height: 60px;
	background: white;


}
main{
	margin-top: 20px;
	display: flex;
	min-height: calc(100% - 60px - 20px);
}



.header-logo{
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 250px;
	font-weight: 600;
}
.header-text{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 1;
	flex-grow: 1;
}





.menu{
	align-items: center;
	justify-content: flex-start;
	display: flex;
	flex-direction: column;
	min-width: 250px;

}
.menu-navbutton{
	margin-bottom: 10px;
	font-size: 18px;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 70%;
	height: 25px;
	background: #fff;
	border-radius: 5px;
}




.right_menu{
	min-width: 50px;
}





.canvas{
	padding: 15px 15px 0px;
	flex-grow: 1;
	background: #fff;
	border-radius: 10px;
	flex-direction: column;
	display: flex;
	margin-bottom: 20px;
}
